# H1 Lawrence Peer Review Assignment

# Introduction: In this notebook, a peer review assignment is created by Lawrence.

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. C

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. matplotlib
4. TensoeFlow

# Data Science Tools:
1. Apache Spark
2. Jupyter
3. TensorFlow
4. MATLAB
5. SAS
6. Tableau

# Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This a simple arithmetic expression to mutiply then add integers
A = (3 * 4) + 5

In [5]:
print(A)

17

In [1]:
# This will convert 200 minutes to hours by diving by 60
B = (200 / 60)

In [2]:
print(B)

3.3333333333333335

# Objectives
. List popular languages for Data Science
. List popular tools used in Data Science
. List some examples using Python
. List popular libraries used in Data Science

# H2 Author 
Lawrence Liu